<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.htt.strongboxapp" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.StrongBoxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activitys.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.MainActivity"/>

        <activity android:name=".activitys.IDCardCheckRegisterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity android:name=".activitys.PhoneCheckRegisterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity android:name=".activitys.PasswordSettingRegisterActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <service android:name=".service.BluetoothService"/>
    </application>

</manifest>
